@import 'includes/fonts';
@import 'includes/variables';
@import 'includes/grid';
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.top-menu{
    background-color: $gray-color--blue;
    &__inner{
        margin: auto;
        padding: 15px 0px;
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
    &__info{
        font-size: 0;
        float: left;
        margin-top: 2px;
        &__item{
            display: inline-block;
            margin-right: 30px;
            i{
                font-size: 18px;
                color: $primary-color;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            span{
                font-size: 13px;
                font-weight: 600;
                color: $gray-color;
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
            }
        }
    }
    &__social{
        font-size: 0;
        float: right;
        &__item{
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
            i{
                font-size: 22px;
                color: $primary-color;
            }
        }
    }
}

.menu{
    width: 100%;
    &__wrapper{
        margin: auto;
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }
    &__inner{
        &--left{
            float: left;
        }
        &--right{
            float: right;
        }
    }
    &__logo{
        height: 35px;
        padding: 19px 0px;
        box-sizing: content-box;
    }
    &__list{
        list-style-type: none;
        &__item{
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            a{
                padding: 30px;
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: $primary-color;
                text-decoration: none;
                transition: 300ms all;
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    height: 2px;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%) scaleX(0);
                    background-color: $primary-color;
                    transition: 300ms all;
                }
                &:hover{
                    color: $gray-color;
                    transition: 300ms all;
                    &:after{
                        transform: translateX(-50%) scaleX(1);
                        transition: 300ms all;
                    }
                }
            }
        }
    }
}

.header{
    width: 100%;
    height: 600px;
    background-image: url('../images/slider/slider-bg.jpg');
    display: table;
    &__inner{
        margin: auto;
        &__wrapper{
            display: table-cell;
            vertical-align: middle;
            margin: auto;
        }

    }
    &__text{
        font-size: 48px;
        color: $white-color;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1.1;
        span{
            display: block;
            font-weight: 700;
        }
    }
}
