/* poppins-300 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v5-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/poppins-v5-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v5-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v5-latin_latin-ext-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v5-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/poppins-v5-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v5-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v5-latin_latin-ext-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v5-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('../fonts/poppins-v5-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v5-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v5-latin_latin-ext-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v5-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/poppins-v5-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v5-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v5-latin_latin-ext-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v5-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/poppins-v5-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v5-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v5-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v5-latin_latin-ext-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
