/* poppins-300 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v5-latin_latin-ext-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins-v5-latin_latin-ext-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v5-latin_latin-ext-300.woff2") format("woff2"), url("../fonts/poppins-v5-latin_latin-ext-300.woff") format("woff"), url("../fonts/poppins-v5-latin_latin-ext-300.ttf") format("truetype"), url("../fonts/poppins-v5-latin_latin-ext-300.svg#Poppins") format("svg");
  /* Legacy iOS */;
}

/* poppins-regular - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v5-latin_latin-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins-v5-latin_latin-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v5-latin_latin-ext-regular.woff2") format("woff2"), url("../fonts/poppins-v5-latin_latin-ext-regular.woff") format("woff"), url("../fonts/poppins-v5-latin_latin-ext-regular.ttf") format("truetype"), url("../fonts/poppins-v5-latin_latin-ext-regular.svg#Poppins") format("svg");
  /* Legacy iOS */;
}

/* poppins-500 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v5-latin_latin-ext-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins-v5-latin_latin-ext-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v5-latin_latin-ext-500.woff2") format("woff2"), url("../fonts/poppins-v5-latin_latin-ext-500.woff") format("woff"), url("../fonts/poppins-v5-latin_latin-ext-500.ttf") format("truetype"), url("../fonts/poppins-v5-latin_latin-ext-500.svg#Poppins") format("svg");
  /* Legacy iOS */;
}

/* poppins-700 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin_latin-ext-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins-v5-latin_latin-ext-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v5-latin_latin-ext-700.woff2") format("woff2"), url("../fonts/poppins-v5-latin_latin-ext-700.woff") format("woff"), url("../fonts/poppins-v5-latin_latin-ext-700.ttf") format("truetype"), url("../fonts/poppins-v5-latin_latin-ext-700.svg#Poppins") format("svg");
  /* Legacy iOS */;
}

/* poppins-900 - latin_latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v5-latin_latin-ext-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins-v5-latin_latin-ext-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v5-latin_latin-ext-900.woff2") format("woff2"), url("../fonts/poppins-v5-latin_latin-ext-900.woff") format("woff"), url("../fonts/poppins-v5-latin_latin-ext-900.ttf") format("truetype"), url("../fonts/poppins-v5-latin_latin-ext-900.svg#Poppins") format("svg");
  /* Legacy iOS */;
}

.col-12 {
  width: 100%;
  max-width: 100%;
}

.col-11 {
  width: 100%;
  max-width: 91.6666666667%;
}

.col-10 {
  width: 100%;
  max-width: 83.3333333333%;
}

.col-9 {
  width: 100%;
  max-width: 75%;
}

.col-8 {
  width: 100%;
  max-width: 66.6666666667%;
}

@media (max-width: 900px) {
  .col-8 {
    max-width: 80%;
  }
}

.col-7 {
  width: 100%;
  max-width: 58.3333333333%;
}

.col-6 {
  width: 100%;
  max-width: 50%;
}

.col-5 {
  width: 100%;
  max-width: 41.6666666667%;
}

.col-4 {
  width: 100%;
  max-width: 33.3333333333%;
}

.col-3 {
  width: 100%;
  max-width: 25%;
}

.col-2 {
  width: 100%;
  max-width: 16.6666666667%;
}

.col-1 {
  width: 100%;
  max-width: 8.3333333333%;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.top-menu {
  background-color: #f9f9fb;
}

.top-menu__inner {
  margin: auto;
  padding: 15px 0px;
}

.top-menu__inner:after {
  content: '';
  display: table;
  clear: both;
}

.top-menu__info {
  font-size: 0;
  float: left;
  margin-top: 2px;
}

.top-menu__info__item {
  display: inline-block;
  margin-right: 30px;
}

.top-menu__info__item i {
  font-size: 18px;
  color: #2241b9;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.top-menu__info__item span {
  font-size: 13px;
  font-weight: 600;
  color: #1c1c1c;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.top-menu__social {
  font-size: 0;
  float: right;
}

.top-menu__social__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.top-menu__social__item i {
  font-size: 22px;
  color: #2241b9;
}

.menu {
  width: 100%;
}

.menu__wrapper {
  margin: auto;
}

.menu__wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.menu__inner--left {
  float: left;
}

.menu__inner--right {
  float: right;
}

.menu__logo {
  height: 35px;
  padding: 19px 0px;
  box-sizing: content-box;
}

.menu__list {
  list-style-type: none;
}

.menu__list__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu__list__item a {
  padding: 30px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #2241b9;
  text-decoration: none;
  transition: 300ms all;
  position: relative;
}

.menu__list__item a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  background-color: #2241b9;
  transition: 300ms all;
}

.menu__list__item a:hover {
  color: #1c1c1c;
  transition: 300ms all;
}

.menu__list__item a:hover:after {
  transform: translateX(-50%) scaleX(1);
  transition: 300ms all;
}

.header {
  width: 100%;
  height: 600px;
  background-image: url("../images/slider/slider-bg.jpg");
  display: table;
}

.header__inner {
  margin: auto;
}

.header__inner__wrapper {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.header__text {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
}

.header__text span {
  display: block;
  font-weight: 700;
}
